<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          
            <mat-card>
                <h3 class="text-center"> Un Answered Questions</h3>
                <button mat-raised-button color="primary" style="float: right;" (click)="openDialogD()">See Professional</button>
                <br><br>
                <mat-card>
                <table mat-table matTableResponsive [dataSource]="unansweredDiag" class="example-container">
                  
                    <ng-container matColumnDef="diagnosis_date">
                      <th mat-header-cell *matHeaderCellDef> Date Sending. </th>
                      <td mat-cell *matCellDef="let element"> {{element.diagnosis_date| date :'medium'}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="diagnosis_subject">
                      <th mat-header-cell *matHeaderCellDef> Message Subject </th>
                      <td mat-cell *matCellDef="let element"> {{element.diagnosis_subject}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="diagnosis_message">
                      <th mat-header-cell *matHeaderCellDef> Message </th>
                      <td mat-cell *matCellDef="let element"> {{element.diagnosis_message}} </td>
                    </ng-container>
                  
                  
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </mat-card>
            </mat-card>
                        <br><br>

            <mat-card>
                <h3 class="text-center">Replied Diagnosis </h3>
                <mat-card>

                
                <div class="example-container">
                <table mat-table matSort matTableResponsive [dataSource]="answeredDiag" >

                <ng-container matColumnDef="diagnosis_date">
                    <th mat-header-cell *matHeaderCellDef> See Professional Date </th>
            
                    <td mat-cell *matCellDef="let element"> {{element.diagnosis_date | date :'medium'}}</td>
                </ng-container>
            
                
                <ng-container matColumnDef="diagnosis_subject">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Message Subject</th>
                
                    <td mat-cell *matCellDef="let element"> {{element.diagnosis_subject}} </td>
                </ng-container>
            
                
                <ng-container matColumnDef="diagnosis_message">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Message </th>
                    <td mat-cell *matCellDef="let element"> {{element.diagnosis_message}} </td>
                </ng-container>
                <ng-container matColumnDef="recommendation_date">
                    <th mat-header-cell *matHeaderCellDef> Reply Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.recommendation_date | date :'medium' }} </td>
                </ng-container>
            
                <ng-container matColumnDef="recommendation_subject">
                    <th mat-header-cell *matHeaderCellDef> Reply Subject </th>
                    <td mat-cell *matCellDef="let element"> {{element.recommendation_subject}} </td>
                </ng-container>
                <ng-container matColumnDef="recommendation_message">
                    <th mat-header-cell *matHeaderCellDef> Reply Message</th>
                    <td mat-cell *matCellDef="let element"> {{element.recommendation_message}} </td>
                </ng-container>
            
            
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef>
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedSeen; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedSeen;"></tr>
                </table>
               </div>
            </mat-card>
            </mat-card>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<ng-template #openDialogDia>
    <h3 matDialogTitle>Send Symptoms to Professional!</h3>
    <form class="example-form"  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" class="text-center" >
                  
                 
        <mat-form-field class="example-full-width" style="width:100% !important; "  appearance="outline">
            <mat-label>Subject</mat-label>
        <input matInput placeholder="Subject" name="diagnosis_subject" [(ngModel)]="data.diagnosis_subject" #diagnosis_subject="ngModel" matInput type="text" >
        </mat-form-field>
         <br> <br>
        <mat-form-field class="example-full-width" style="width:100% !important; " appearance="outline" >
            <mat-label>Message</mat-label>
          <input matInput placeholder="Subject" name="diagnosis_message" [(ngModel)]="data.diagnosis_message" #diagnosis_message="ngModel" matInput type="text" >
        </mat-form-field>
        <br> 
             
        
        
    </form>
    <mat-dialog-actions align="end">
        <button mat-button color="primary" matDialogClose="yes">Send Symp</button>
        <button mat-button color="warn"  matDialogClose="no">Cancel</button>
    
    </mat-dialog-actions>
</ng-template>