<div style="background-color: #f3f3d7; ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <a href="home"> <img src="./assets/photos/mwangaza-black.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-10">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4" style="color: blue;" >
                <a routerLink="" mat-button class="d">       
                  <mat-icon></mat-icon>
                  <b style="font-size: larger;"> Home</b>
                </a> <br>
                <a routerLink="/whoweare" mat-button class="d">       
                  <mat-icon></mat-icon>
                  <b style="font-size: larger;">About Us</b>
                </a>
                  <br>
                <!-- <a href="joinus" mat-button class="c">
                  <mat-icon></mat-icon> 
                  <b style="font-size: larger;">Join Us</b>
                </a> -->
                <!-- <br> -->
                <a routerLink="/contact" mat-button class="b">
                  <mat-icon></mat-icon>
                  <b style="font-size: larger;">Contacts</b>
                </a>  
                <!-- <br> -->
                <!-- <a href="login" mat-button class="f">
                  <mat-icon></mat-icon>
                  <b style="font-size: larger;">Login</b>
                </a> -->
              </div>
              <div class="col-md-4">
                <h1 style="font-size: larger;"> <b>Contact Us</b></h1>
                <ul style="font-size: larger;">
                  <li style="font-size: larger;">Locaton:</li>
                  <br>
                  <li style="font-size: larger;">Tell No:</li>
                  <br>
                  <li style="font-size: larger;">Email:</li>
                </ul>
              </div>
              <div class="col-md-4">
                <a  href="https://www.instagram.com/littlereaderske/?utm_medium=copy_link"><i class="fa fa-instagram fa-x"></i></a>
                <a href="#"><i class="fa fa-twitter fa-x"></i></a>
                <a href="#"><i class="fa fa-facebook fa-x"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
        
  <div class="year">
    <div class="text-center" style="background-color: white;"><b>Sober Space® {{currentYear}}</b></div>
  </div>
    </div>
  </div>
