<div>
    <div class="topnav" id="myTopnav">
        <mat-toolbar color="bg-success">
          <mat-toolbar-row style="height: 100px; " >
          
            <span><a href=""><img class="logo" id="logo" src="./assets/photos/soberspace.png" alt="" style="  
              max-width: 35%;
              height: auto;
             margin-left:0;"> </a> </span>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm style=" right:10px " style=" float:right; clear:right; "  >
                <div class="container"  >
                   <mat-icon>menu</mat-icon>
                  </div>
              </button>
            <div fxShow="true" fxHide.lt-md="true" style="padding: 100px;" class="container-fluid" >
              <!-- The following menu items will be hidden on both SM and XS screen sizes -->
              <a routerLink=""mat-button class="d">       
                <mat-icon></mat-icon>
                <b>Home</b>
              </a>
              
                <a routerLink="/whoweare"mat-button class="d">       
                  <mat-icon></mat-icon>
                  <b>About Us</b>
                </a>
          
         
     
              <!-- <a href="joinus" mat-button class="c">
                <mat-icon></mat-icon> 
                <b>Join Us</b>
              </a> -->
              <a routerLink="/contact" mat-button class="b">
                <mat-icon></mat-icon>
                <b>Contacts</b>
              </a>  
            
              <a routerLink="/sign-up" mat-button class="f" style="     float: right;">
                <mat-icon></mat-icon>
                <b>Sign-Up</b>
              </a>
              <a routerLink="/login" mat-button class="f" style="     float: right;">
                <mat-icon></mat-icon>
                <b>Login</b>
              </a>
             
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
        <div >
        <mat-sidenav-container class="custom-sidenav-container" fxFlexFill style="height: 100vh;" >
          <mat-sidenav #sidenav  >
        
            <mat-nav-list  >
              <a href="whoweare" mat-list-item >
                <mat-icon></mat-icon> 
                About Us
              </a> 
       
    
    
                <!-- <a href="joinus" mat-list-item>
                  <mat-icon></mat-icon> 
                  Join Us</a> -->
              
              <a href="contact" mat-list-item>
                <mat-icon></mat-icon>
                Contacts
              </a>
         
            
    
              <a href="login" mat-list-item>
                <mat-icon></mat-icon>
                Login
              </a>

              <a href="sign-up" mat-list-item>
                <mat-icon></mat-icon>
                Login
              </a>
    
              <a (click)="sidenav.toggle()" mat-list-item>
                <mat-icon>  	&nbsp;	&nbsp; close</mat-icon> 
              </a>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
      </div>         
       
    </div>