
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="example-toolbar" >
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
   
      <h1 class="mx-auto ">Admin Dashboard </h1>
  
    </mat-toolbar>
  
    <mat-sidenav-container  class="example-sidenav-container" style="height: 90vh;"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="mobileQuery.matches ? false : true">
        <mat-nav-list >
       
         
  <button (click)="closeSidenav()">     <mat-icon>dashboard</mat-icon></button>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content fullscreen>
  hahaha --> __
  <p  ng-repeat="item in amejibu">
    
  </p>
   
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
    
  
  
  