
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-sidenav-container  class="example-sidenav-container" style="height: 100vh;"
  [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
[fixedInViewport]="mobileQuery.matches" fixedTopGap="0" [opened]="mobileQuery.matches ? false : true">
<mat-nav-list >


<br>
<a mat-list-item [routerLink]="['/admin', {outlets: {admin: 'home'}}]"  (click)="closeSidenav()" >  <mat-icon>dashboard</mat-icon> <h4>Dashboard</h4> </a> <br> 
<a mat-list-item [routerLink]="['/admin', {outlets: {admin: 'accounts'}}]"  (click)="closeSidenav()" >  <mat-icon>local_hospital</mat-icon> <h4>Accounts </h4> </a> <br>
<a mat-list-item [routerLink]="['/admin', {outlets: {admin: 'recommend'}}]"  (click)="closeSidenav()" >  <mat-icon>local_hospital</mat-icon> <h4>Recommend </h4> </a> <br>
<a mat-list-item [routerLink]="['/admin', {outlets: {admin: 'answers'}}]"  (click)="closeSidenav()" >  <mat-icon>question_answer</mat-icon> <h4> Answers </h4> </a> <br>
<a mat-list-item [routerLink]="['/admin', {outlets: {admin: 'approve'}}]"  (click)="closeSidenav()" >  <mat-icon>done_outline</mat-icon> <h4>Approves </h4> </a> <br>
<a mat-list-item [routerLink]="['/admin', {outlets: {admin: 'contact'}}]"  (click)="closeSidenav()" >  <mat-icon>contacts</mat-icon> <h4>Contact </h4> </a> <br>
<mat-icon>exit_to_app</mat-icon>
</mat-nav-list>
</mat-sidenav>

<mat-sidenav-content fullscreen>

  <mat-toolbar color="primary" class="example-toolbar"  >
    <button mat-icon-button (click)="snav.toggle()"> <mat-icon>menu</mat-icon></button>
 
    <h1 class="mx-auto ">Admin Dashboard </h1>

  </mat-toolbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <mat-card>
          <mat-card-title class="tes"> 
            <mat-icon>supervised_user_circle</mat-icon>
            App Users
            <h2 style="background-color: blanchedalmond;" class="text-center">{{usersLength}}</h2>
          </mat-card-title>
        </mat-card>
      </div>
      <div class="col-md-2">
        <mat-card>
          <mat-card-title class="tes">
            <mat-icon> local_hospital</mat-icon>
           Diagnosis Done
           <h2 style="background-color: blanchedalmond;" class="text-center">{{diagnosisLength}}</h2>
          </mat-card-title>
        </mat-card>
      </div>
      <div class="col-md-2">
        <mat-card>
          <mat-card-title class="tes">
            <mat-icon> local_hospital</mat-icon>
            Question Asked 
            <h2 style="background-color: blanchedalmond;" class="text-center">{{questionsLength}}</h2>
          </mat-card-title>
        </mat-card>
      </div>
      <div class="col-md-2">
        <mat-card>
          <mat-card-title class="tes">
            <mat-icon>announcement</mat-icon>
            Question Answered
            <h2 style="background-color: blanchedalmond;" class="text-center">{{AsweredLength}}</h2>
          </mat-card-title>
        </mat-card>
      </div>
      <div class="col-md-2">
        <mat-card>
          <mat-card-title class="tes">
            <mat-icon> question_answer</mat-icon>
           Testimonies Posted
           <h2 style="background-color: blanchedalmond;" class="text-center"> {{testimonyLength}}</h2>
          
          </mat-card-title>
        </mat-card>
      </div>
      <div class="col-md-2">
        <mat-card>
          <mat-card-title class="tes">
            <mat-icon> question_answer</mat-icon>
            Testimonies Approved
            <h2 style="background-color: blanchedalmond;" class="text-center"> {{ApprovedLenth}}</h2> 
          </mat-card-title>
        </mat-card>
      </div>
    </div>
  </div>


  <router-outlet name="admin" ></router-outlet>

</mat-sidenav-content>
</mat-sidenav-container>
   
  

  </div>
  
    
  
  
  