<app-navbar></app-navbar>
<div class="background">
<div class="over">
  <br><br><br><br><br><br>
<h1 class="text-center" id="one" >

  Contact Us
</h1>
<br><br><br><br>  <br><br> <br><br><br>
</div>  

</div>
<br><br><br>
<h3 class="text-center" id="head">Sober Space would love to hear from you</h3>
<br><br>

<h3 class="text-center" id="head">Sober Space is very comfortable answering any question and feedback you would like to give</h3>

<br><br>
<h3 class="text-center" id="head"> Feel free to use our Contact Form to reach us</h3>

<div class = "container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <br><br>
        <mat-card style="background-color: whitesmoke;">
            <div class="container-fluid" >
    
                <br><br>
                  <form class="example-form"  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" class="text-center" >
                  
                 
                <mat-form-field class="example-full-width" style="width:100% !important; "  appearance="outline">
                    <mat-label>Name</mat-label>
                <input matInput placeholder="Your Name" name="name" [(ngModel)]="data.name" #name="ngModel" matInput type="text" >
                </mat-form-field>
                 <br> <br>
                 <mat-form-field class="example-full-width" appearance="outline" style="width:100% !important; " >
                  <mat-label>Email</mat-label>
                  <input type="email" matInput [errorStateMatcher]="matcher"
                         placeholder="Ex. sober@sober.com"  name="email" [(ngModel)]="data.email" required
                         email #email="ngModel" >
               
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <br> <br>
                <mat-form-field class="example-full-width" style="width:100% !important; " appearance="outline" >
                    <mat-label>Subject</mat-label>
                  <input matInput placeholder="Subject" name="subject" [(ngModel)]="data.subject" #subject="ngModel" matInput type="text" >
                </mat-form-field>
                <br> <br>
                <mat-form-field class="example-full-width" style="width:100% !important; "  appearance="outline" id="box">
                    <mat-label>Message To Sober Space</mat-label>
                  <textarea matInput placeholder="Message to Sober Space" name="message" [(ngModel)]="data.message" #message="ngModel" matInput type="textarea" style="height:200px !important;"></textarea>
                </mat-form-field>
                
                     
                
                    <br> <br><br>
                    <button *ngIf="!loader" mat-raised-button color="primary" matInput type="submit">Send Message</button>
                    <button *ngIf="loader" mat-stroked-button color="primary" matInput type="submit">Sending Message ...</button>
                   <br><br>
                  </form>
                
                </div>
        </mat-card>
     <br>
      
      </div>
      <div class="col-md-3"></div>
    </div> 
  </div>
  <br><br><br>
<h3 class="text-center" id="head" >  Our Offices</h3>
<h3  class="text-center" id="head" > Nairobi, Kenya</h3>
<h4  class="text-center" id="head" >Sober Space</h4>
<br><br><br>
<app-footer></app-footer>