<app-navbar></app-navbar>

<div>
    <ly-carousel [withClass]="classes.carousel" >
        <ly-carousel-item
          *ngFor="let item of items"
          [withClass]="classes.carouselItem"
          [srcImg]="item.img"
        >
          <h2 class="head1" [lyTyp]="'headline'" gutter:any>{{ item.title }}</h2>
          <h2 style="font-size:x-large" [lyTyp]="'body1'" gutter:any>
        Only Small Things with Great Love
          </h2>
        </ly-carousel-item>
      </ly-carousel>
    
</div>
  

<div id="about">
    <br><br>
    <h2 class="text-center" id="onee">
        Cultivating a culture of lifelong Soberness in Kenya
    </h2>
<br><br><br>
    <div class="container" id="welcome">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 style="color: blue; font-size: xx-large;" class="text-center"> Welcome to Sober Space</h2>
                <h4 class="text-center">Sober Space is a project with a main aim of creating a virtual rehabilitation center</h4>
                <br><br>
                <h4 class="text-center">Since 2022 we have been able to inpact more than 70 individuals.
                </h4>
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </div>
    <br><br><br>
    <div class="container" id="info">
        <div class="row">
            <div class="col-md-4" style="background-color: #42ba96;">
                <br><br><br><br><br> 
                <h2 class="text-center" style="font-size:500%; color: aliceblue;"><i class="fa fa-building-o" fa-5x></i> </h2>
                <h2 class="text-center" style="color: aliceblue;">Creating Awareness </h2>
                <br>
                <p class="text-center" style="color: white;">Teaching People on the effects of drug</p>
                <p class="text-center" style="color: white;">Encouraging Those Under Addiction to Change</p>
            </div>
            <div class="col-md-4" style="background-color: #31b459;">
                
                <br><br><br><br><br>
                <h2 class="text-center" style="font-size:500%; color: aliceblue;"><i class="fa fa-book" aria-hidden="true"></i> </h2>
                <h2 class="text-center" style="color: aliceblue;">Enhancing Rehabilitations</h2>
                <br>
                <p class="text-center" style="color: white;">Supported cognitive development.</p>
                <p class="text-center" style="color: white;">Preparation for addicts from withdrawal.</p>
                
            </div>
            <div class="col-md-4" style="background-color: #425eba;">
                <br><br><br><br><br>
                <h2 class="text-center" style="font-size:500%; color: aliceblue;"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> </h2>
                <h2 class="text-center" style="color: aliceblue;"> Motivating Young minds</h2>
                <br>
                <p class="text-center" style="color: white;">Children who're motivated know what they want in life</p>
                <p class="text-center" style="color: white;"> They don't quit but fearlessly chase their dreams and objectives.</p>
               
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class= "backgro" style="background-color: rgb(235, 240, 239);">
    <h2 id="welcome" class="text-center" style="font-weight: 900; color: #425eba;"><b>Sober Space Develoment Statistics</b></h2>
    <br><br>
    <h2 class="text-center">Sober Space Believes in giving Statistics as a way of marking our progress and enhancing our relation and transparency</h2>
    <br>
    <h2 class="text-center">Here are some of Statistics we have been able to record</h2>
    <br><br><br>

    <br><br><br>
    <div class="container">
        <div class="row">
            <div class= "col-md-4">
                <div class ="container">
                    <mat-card>
                    <div class="row">
                        <div class="col-md-3"> <h2 class="text-center" style="font-size:500%; color: rgb(18, 130, 228);"><i class="fa fa-child" aria-hidden="true"></i> </h2></div>
                        <div class="col-md-9">
                            <h2 class="text-center">500+ Children Benefited</h2> 
                            <p class="text-center"> We have impacted more than seven hundred children through our programs and motivations in school</p>
                        </div>
                    </div>
                </mat-card>
                </div>
            </div>
            <div class= "col-md-4">
                <div class ="container">
                    <mat-card>
                    <div class="row">
                        <div class="col-md-3"><h2 class="text-center" style="font-size:500%; color: rgb(18, 130, 228);"><i class="fa fa-building-o" fa-5x></i> </h2></div>
                        <div class="col-md-9">
                            <h2 class="text-center">1 Rehabilitation Built</h2>
                            <p class="text-center"> We have built one Rehabilitation create a favourable environment for addicts not able to be assisted virtually</p>
                        </div>
                    </div>
                </mat-card>
                </div>
            </div>
            <div class= "col-md-4">
                <div class ="container">
                    <mat-card>
                    <div class="row">
                        <div class="col-md-3"><h2 class="text-center" style="font-size:500%; color: rgb(18, 130, 228);"><i class="fa fa-book" aria-hidden="true"></i> </h2></div>
                        <div class="col-md-9">
                            <h2 class="text-center">385+ anti addiction materials </h2>
                            <p class="text-center"> Sober Space has supplied more three hundred anti addiction materials to its users</p>
                        </div>
                    </div>
                </mat-card>
                </div>
            </div>

        </div>
    </div>
 <br><br> <br>


    
 <div class="container">
    <div class="row">
        <div class= "col-md-4">
            <div class ="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9"></div>
                </div>
            </div>
        </div>
        <div class= "col-md-4">
            <mat-card>
            <div class ="container">
               
                <div class="row">
                    <div class="col-md-3"><h2 class="text-center" style="font-size:500%; color: rgb(18, 130, 228);"><i class="fa fa-heart-o" aria-hidden="true"></i> </h2></div>
                    <div class="col-md-9">
                        <h2 class="text-center">400+ Motivated Minds</h2>
                        <p class="text-center">Sober Space ensures that they give advise to children to make them more persuaded to achive their dreams and fight drug abuse</p>
                    </div>
                </div>
           
            </div>
        </mat-card> 
        </div>
    <br><br>
        <div class= "col-md-4">
            <div class ="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9"></div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<br><br><br>
<div  id="ham">
    <div id="overlay1" class="container-fluid">
            <br><br><br><br><br><br><br><br><br><br>
            <h2 class="text-center" style="color: white; " id="support"><b>Support Our Work!</b></h2>
            <br><br><br><br>
            <h2 class="text-center" style="color: aliceblue; " id="supportid"> <b>Your Donation Encourages Us To Set As Many Projects As Possible for More Children to Benefit </b></h2>
            <br><br>
            <h2 class="text-center" style="color: aliceblue; " id="supportid">You can also become our partner in our journey to transform Addiction behaviours</h2>
            <br><br><br>

            <br><br><br><br><br><br>
            
           
    </div>

</div>
<br>


<div>   
</div>   

<div class=footer>
    <app-footer></app-footer>
</div>
