<app-navbar></app-navbar>

<div>
    <ly-carousel [withClass]="classes.carousel" >
        <ly-carousel-item
          *ngFor="let item of items"
          [withClass]="classes.carouselItem"
          [srcImg]="item.img"
        >
          <h1 class="head1" [lyTyp]="'headline'" gutter:any>{{ item.title }}</h1>
          <h1 style="font-size:x-large" [lyTyp]="'body1'" gutter:any>
        Only Small Things with Great Love
          </h1>
        </ly-carousel-item>
      </ly-carousel>
    
</div>
  

<div id="about">
    <br><br>
    <h1 class="text-center" id="onee">
        Cultivating a culture of lifelong reading in Kenya
    </h1>
<br><br><br>
    <div class="container" id="welcome">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 style="color: blue; font-size: xx-large;" class="text-center"> Welcome to Sober Space</h1>
                <h4 class="text-center">Sober Space is a project with a main aim of creating a virtual rehabilitation center</h4>
                <br><br>
                <h4 class="text-center">Since 2022 we have been able to inpact more than 70 individuals.
                </h4>
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </div>
    <br><br><br>
    <div class="container" id="info">
        <div class="row">
            <div class="col-md-4" style="background-color: #42ba96;">
                <br><br><br><br><br> 
                <h1 class="text-center" style="font-size:500%; color: aliceblue;"><i class="fa fa-building-o" fa-5x></i> </h1>
                <h1 class="text-center" style="color: aliceblue;">Creating Awareness </h1>
                <br>
                <h3 class="text-center" style="color: white;">Teaching People on the effects of drug</h3>
                <h3 class="text-center" style="color: white;">Encouraging Those Under Addiction to Change</h3>
            </div>
            <div class="col-md-4" style="background-color: #31b459;">
                
                <br><br><br><br><br>
                <h1 class="text-center" style="font-size:500%; color: aliceblue;"><i class="fa fa-book" aria-hidden="true"></i> </h1>
                <h1 class="text-center" style="color: aliceblue;">Enhancing Libaries</h1>
                <br>
                <h3 class="text-center" style="color: white;">Supported cognitive development.</h3>
                <h3 class="text-center" style="color: white;">Preparation for academic success.</h3>
                
            </div>
            <div class="col-md-4" style="background-color: #425eba;">
                <br><br><br><br><br>
                <h1 class="text-center" style="font-size:500%; color: aliceblue;"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> </h1>
                <h1 class="text-center" style="color: aliceblue;"> Motivating Young minds</h1>
                <br>
                <h3 class="text-center" style="color: white;">Children who're motivated know what they want in life</h3>
                <h3 class="text-center" style="color: white;"> They don't quit but fearlessly chase their dreams and objectives.</h3>
               
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class= "backgro" style="background-color: rgb(235, 240, 239);">
    <h1 id="welcome" class="text-center" style="font-weight: 900; color: #425eba;"><b>Mwangaza Develoment Statistics</b></h1>
    <br><br>
    <h2 class="text-center">Mwangaza Believes in giving Statistics as a way of marking our progress and enhancing our relation and transparency</h2>
    <br>
    <h2 class="text-center">Here are some of Statistics we have been able to record</h2>
    <br><br><br>

    <br><br><br>
    <div class="container">
        <div class="row">
            <div class= "col-md-4">
                <div class ="container">
                    <mat-card>
                    <div class="row">
                        <div class="col-md-3"> <h1 class="text-center" style="font-size:500%; color: rgb(18, 130, 228);"><i class="fa fa-child" aria-hidden="true"></i> </h1></div>
                        <div class="col-md-9">
                            <h1 class="text-center">400+ Children Benefited</h1>
                            <h3 class="text-center"> We have impacted more than seven hundred children through our programs</h3>
                        </div>
                    </div>
                </mat-card>
                </div>
            </div>
            <div class= "col-md-4">
                <div class ="container">
                    <mat-card>
                    <div class="row">
                        <div class="col-md-3"><h1 class="text-center" style="font-size:500%; color: rgb(18, 130, 228);"><i class="fa fa-building-o" fa-5x></i> </h1></div>
                        <div class="col-md-9">
                            <h1 class="text-center">1 Library Built</h1>
                            <h3 class="text-center"> We have built three Libaries to create a favourable environment for kids</h3>
                        </div>
                    </div>
                </mat-card>
                </div>
            </div>
            <div class= "col-md-4">
                <div class ="container">
                    <mat-card>
                    <div class="row">
                        <div class="col-md-3"><h1 class="text-center" style="font-size:500%; color: rgb(18, 130, 228);"><i class="fa fa-book" aria-hidden="true"></i> </h1></div>
                        <div class="col-md-9">
                            <h1 class="text-center">85+ Books Donated </h1>
                            <h3 class="text-center"> Mwangaza has supplied more than one thousand and eighty five books to differents schools</h3>
                        </div>
                    </div>
                </mat-card>
                </div>
            </div>

        </div>
    </div>
 <br><br> <br>


    
 <div class="container">
    <div class="row">
        <div class= "col-md-4">
            <div class ="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9"></div>
                </div>
            </div>
        </div>
        <div class= "col-md-4">
            <mat-card>
            <div class ="container">
               
                <div class="row">
                    <div class="col-md-3"><h1 class="text-center" style="font-size:500%; color: rgb(18, 130, 228);"><i class="fa fa-heart-o" aria-hidden="true"></i> </h1></div>
                    <div class="col-md-9">
                        <h1 class="text-center">400+ Motivated Minds</h1>
                        <h3 class="text-center">Mwangaza ensures that they give advise to children to make them more persuaded to achive their dreams</h3>
                    </div>
                </div>
           
            </div>
        </mat-card> 
        </div>
    <br><br>
        <div class= "col-md-4">
            <div class ="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9"></div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<br><br><br>
<div  id="ham">
    <div id="overlay1" class="container-fluid">
            <br><br><br><br><br><br><br><br><br><br>
            <h1 class="text-center" style="color: white; " id="support"><b>Support Our Work!</b></h1>
            <br><br><br><br>
            <h2 class="text-center" style="color: aliceblue; " id="supportid"> <b>Your Donation Encourages Us To Set As Many Projects As Possible for More Children to Benefit </b></h2>
            <br><br><br><br><br>
            <div class="text-center"><a href="donate"><button mat-flat-button color="accent"><h2>Make A Donation</h2></button></a></div>
            <br><br><br><br><br><br>
            
           
    </div>

</div>
<br><br>


<div>   
</div>   
<br><br>
<div class="groups">
    <h1 class="text-center">Benefits of Stories and Books to children</h1><br><br>
    <div class="container">
        <div class="row">
            <div class="text-center">
                 <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn-icons-png.flaticon.com/128/61/61191.png" alt="" style="width: 10%;" class="text-center">
                <br>
                <p>Provokes curiosity and discussion</p>
            </div>
            <div class="col-md-4">
                <span class="material-symbols-outlined">escalator_warning </span>
                <br>
                <p>Fills a child's mind with knowledge</p>
            </div>
            <div class="col-md-4">
                <img src="https://cdn-icons-png.flaticon.com/128/1828/1828884.png" alt="" style="width: 10%;" class="text-center">
                <br>
                <p>Provides quietness & calmness in their busy lives</p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4">
              
            </div>
            <div class="col-md-4">
                <span class="material-symbols-outlined">  bedroom_baby</span>
                <br>
                <p>Teach Moral Lessons and Culture</p>
            </div>
            <div class="col-md-4">
          
            </div>
        </div>
    </div>
            </div>
           
        </div>
    </div>
    <br><br>    
   
</div>    



<br>
<div class=footer>
    <app-footer></app-footer>
</div>
