<app-navbar></app-navbar>
<ngx-bins-loader>
  <div class="loader">
    <span>Loading...</span>
</div>
</ngx-bins-loader>
<div class ="background">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" >

    <mat-card >
      <mat-card-header>
        <img class="hel" src="./assets/photos/mwangaza.jpeg" alt="" width="100%">
                
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" *ngIf="!isLoggedIn" name="form"
      (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
        <mat-card-content>
          <mat-form-field class="example-full-width" appearance="outline" >
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" matInput type="text" name="username" [(ngModel)]="form.username"
            required #username="ngModel" > 
          </mat-form-field>
  
          <mat-form-field class="example-full-width" appearance="outline"> 
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" matInput type="password" name="password"
            [(ngModel)]="form.password" required minlength="6" #password="ngModel">
            <mat-icon matSuffix *ngIf="isCaps">eject</mat-icon>
            <mat-hint align="end" *ngIf="isCaps">Caps Lock is on</mat-hint>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" matInput type="submit">Log in</button>
      </form>
      Not a member? <a routerLink="/sign-up">Create account</a>
    </mat-card>
  </div>
  </div>